/* =Content
-------------------------------------------------------------- */

.post, #main .page {
	width: 540px;
	float: left;
	}

	.post blockquote, #main .page blockquote {
		border-left: 5px solid #ffffff;
		padding-left: 10px;
		margin-bottom: 15px;
		}

		.post blockquote p, #main .page blockquote p {
			padding-bottom: 0;
			}

	.post pre, #main .page pre {
		background-color: #dddddd;
		padding: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		overflow: scroll;
		}

	.post ol, #main .page ol {
		list-style-type: decimal;
		margin-left: 20px;
		}

	.post ul, #main .page ul {
		list-style-type: none;
		margin-left: 15px;
		}

		.post ul ul, #main .page ul ul {
			padding-bottom: 0;
			}

		.post ul li, #main .page ul li {
			position: relative;
			}

		.post ul li:before, #main .page ul li:before {
			position: absolute;
			margin: 7px 0 0 -12px;
			width: 6px;
			height: 6px;
			background: #ffffff;
			content: "";
			}

	.post img, #main .page img {
		max-width: 100%;
		}

	img.alignright {
		float: right;
		margin: 0 0 10px 10px;
		}

	img.alignleft {
		float: left;
		margin: 0 10px 10px 0;
		}

.comments-callout {
	float: left;
	width: 40px;
	height: 50px;
	}

	.comments-callout a {
		display: block;
		padding: 20px 0 5px 5px;
		font-size: 12px;
		}

		.comments-callout a:hover {
			text-decoration: none;
			}



.entry-meta {
	clear: both;
	}

	.entry-meta img.avatar {
		border: 1px solid #ffffff;
		float: left;
		}

	.entry-meta p {
		padding-left: 50px;
		}

.post_options {
	margin-top: 10px;
	background: #dedede url("{TEMPLATE_PATH}/images/post_options/elipsis.png") no-repeat 97% 10px;
	background-image: none;
	padding: 5px;
	cursor: pointer;
	}

	.post_options .social .addthis_toolbox {
		text-align: center;
		}

	.post_options .social ul {
		list-style-type: none;
		}

	.post_options .social ul li:before, #main .post_options .social ul li:before {
		width: 0;
		height: 0;
		}

		.post_options .social .addthis_toolbox li {
			display: inline-block;
			}

			.post_options .social .addthis_toolbox li a {
				font-size: 10px;
				color: #a4a4a4;
				}
				.post_options .social .addthis_toolbox li a span {
					display: none;
					}
				.post_options.open .social .addthis_toolbox li a span {
					display: block;
					}

			.post_options .social .addthis_toolbox li img {
				vertical-align: bottom;
				margin: 0 20px;
				}

#entry-author-info {
	border-bottom: 1px solid #888888;
	}

	#author-avatar {
		float: left;
		width: 60px;
		margin: 10px;
		}

		#author-avatar h2 {
			text-align: center;
			}

	#author-description {
		padding-top: 20px;
		}


.navigation {}

	.navigation .nav a {
		display: block;
		padding: 10px 40px;
		margin: -20px 0 10px 0;
		background-color: #dddddd;
		color: #444444;
		}

	.navigation .nav-previous {
		float: left;
		}

	.navigation .nav-next {
		float: right;
		margin-right: 60px;
		}
