/* =Print Style
-------------------------------------------------------------- */

@media print {

	#social_login,
	#site-title,
	#sidebar,
	.post_options,
	#comments_form,
	.navigation {
		display: none;
		}
	
	.wrapper,
	#container,
	.post,
	#main .page,
	#comments {
		width: 100%;
		}
	
	#footer {
		border-top: 2px solid #888888;
		}
}